<!doctype html>
<div id="architool">
    <div class="row" style="text-align: center;">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" (click)="CS.setMode('Circle')">
            <img src="../../../assets/images/Circle.png" class="img-responsive" alt="Station">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" (click)="CS.setMode('Square')">
            <img src="../../../assets/images/Square.png" class="img-responsive" alt="Station">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" (click)="CS.setMode('Triangle')">
            <img src="../../../assets/images/Triangle.png" class="img-responsive" alt="Station">
        </div>
        <!--<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" (click)="CS.setMode('Line')">
            <img src="../../../assets/images/Line.png" class="img-responsive" alt="Line">
        </div>-->
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" (click)="CS.setMode('delete')">
            <img src="../../../assets/images/graph_trash.png" class="img-responsive" alt="Station">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" (click)="CS.setMode('move')">
            <img src="../../../assets/images/graph_move.png" class="img-responsive" alt="Station">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" (click)="CS.setMode('zoom')">
            <img src="../../../assets/images/graph_zoom.png" class="img-responsive" alt="Station">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" (click)="open()">
            <img src="../../../assets/images/graph_open.png" class="img-responsive" alt="Station">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" (click)="save()">
            <img src="../../../assets/images/graph_save.png" class="img-responsive" alt="Station">
        </div>
        <div class="col-lg-1 col-md-1">
        </div>

    </div>
</div>
